body{
    background-image: url('./images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust the vertical distance as per your preference */
    }
    100% {
      transform: translateY(0);
    }
  }
#head{
    text-align: center;
    padding-top: 150px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 4px ;
    font-size:100px;
    color: royalblue;
    animation: hanging 1s infinite;
    animation-name: moveUpDown;

    
}
#text{
    text-align: center;
    color: royalblue;
    padding-top: 16px;
    font-size: xx-large;
    font-weight: 600;
}

.weapons{
    font-size: 13vw;
    padding-top: 18px;
    display: flex;
    gap: 164px;
    justify-content: center;
    
}

#rock {
    color: gray;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* height: 199px; */
  }
  
  #paper {
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* height: 199px; */

  }
  
  #scissor {
    color: red;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* height: 199px; */

  }
  
  #rock:hover,
  #paper:hover,
  #scissor:hover {
    transform: scale(1.1);
  }
  
  #rock:hover::after,
  #paper:hover::after,
  #scissor:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
  
  

#result{
    text-align: center;
    color: royalblue;
    font-weight: 800;
    font-size: 2vw;
}
#score{
    padding-top: 20px;
    text-align: center;
    color: royalblue;
    font-size: 2vw;

}